.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
Icon?

readme.txt
comparison_OTU_methods/
data/
GIS/
manuscript/
NCBI_submission/
notes/
results/
songbird/
stats_log/
scripts/readme.txt
scripts/cypress
scripts/old_files/
scripts/seq_filtering_otu_picking/
scripts/R_scripts/S2_MG
scripts/R_scripts/other
